@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.map {
  height: 100%;
}
.map .map__container {
  height: 100%;
}
.map .map__get-location {
  padding: 0.5rem 0.7rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--primary-600);
  box-shadow: 0 0 5px var(--primary-600);
  color: var(--white);
  z-index: 1000;
}

.map .map__bookmarks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  padding: 0.3rem 0.5rem;
  background-color: var(--rose-500);
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--white);
  box-shadow: 0 0 5px var(--rose-500);
}

.map .map__bookmark-icon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
